{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
{% if user.is_authenticated %}
  <div class="container">
    <div class="jumbotron" style="background-color: #add8e6;">
    <p> Welcome {{ user.username }}</p>
	{% else %} 
  <div class="container">
    <div class="jumbotron" style="background-color: #add8e6;">
      <h1>Login here :</h1>
<form method="post" action="{% url 'base:login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
<label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login">
</form>
</div>
</div>
</div>
</div>
<button> Login As Seller Here  </button>
<div class="{% url 'base:login_seller'  %}">
 {% endif %}
</div>
{% endblock %}
